.header {
	height: auto;

	//background-color: #313a8e;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	color: #f2f2f2;
	padding: 7vmin 1rem; //flipping sexy padding 10vmin w/o imgs
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	font-size: 1.2rem;
}

.header a {
    margin-right: 20px;
}

.logo {
    max-width: 140px;
}