@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

// Fonts for our Application

@font-face {
  font-family: 'pony';
  src: url('/fonts/bratsy-font/bratsy-script.woff2') format('woff2'), 
    url('/fonts/bratsy-font/bratsy-script.woff') format('woff');
}

@font-face {
  font-family: 'pony-outline';
  src: url('/fonts/bratsy-font/bratsy-outline.woff2') format('woff2'), 
    url('/fonts/bratsy-font/bratsy-outline.woff') format('woff');
}

@font-face {
  font-family: 'pony-extrude';
  src: url('/fonts/bratsy-font/bratsy-extrude.woff2') format('woff2'), 
    url('/fonts/bratsy-font/bratsy-extrude.woff') format('woff');
}


.header {
    font-family: 'Hammersmith One', sans-serif;
    height: auto;
    background-color: #313a8e;
    color: #f2f2f2;
    padding: 7vmin 1rem; //flipping sexy padding 10vmin w/o imgs
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 42px;
}

.header a {
    margin-right: 20px;
}

.logo {
    max-width: 140px;
}


[data-text] {
  z-index: 1;
  position: relative;
  display: inline-block;
  color: white;
  font-family: 'pony';
  

  &::before, &::after {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    content: attr(data-text);
    display: block;
    text-align: inherit;
  }

  &::before {
    z-index: -1;
    color: purple;
    font-family: 'pony-outline';
  }

  &::after {
    z-index: -2;
    color: #a5e4eb;
    font-family: 'pony-extrude';
  }
}