@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import "reset";
@import "variables";
@import "navmenu";
@import "mainLayout";
@import "camera";
@import "../node_modules/@progress/kendo-theme-material/dist/all.scss";
    
:root {
    --main-dark-color: #313a8e;
    --main-light-color: #c6d2ec;
    --white: #f2f2f2;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}

body {
    font-size: 18px;
}

a, .btn-link {
    color: var(--main-dark-color);
}

/* Alyssa's Styles, Do they go here? */
.content {
    margin: 50px;
}

/*button {
    width: 100%;
    background-color: var(--white);
    color: var(--main-light-color);
    padding: 4px 8px;
    font-weight: 700;
}

button.cta {
    background-color: var(--main-dark-color);
    color: var(--white);
    padding: 4px 8px;
    border: 4px solid var(--white);
    text-transform: uppercase;*/
    /* width: auto; */
/*}

button.cta:hover {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    transition: all .2s ease-in;
}*/

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--main-light-color);
}

.results-wrapper ~ .camera-wrapper {
    width: 300px;
}

.camera-wrapper {
    width: 50vw;
    transition: width 1s ease;

    video, button {
        width: 100%;
    }
}

.results-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    background: hotpink;

    img {
        display: block;
        width: 100%;
    }
}
 
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* REfactor */
// .content button {
//     width: 100%;
// }

.k-content.k-window-content.k-dialog-content {
    display: flex;
    justify-content: center;
}


// Picture frame by Chris Smith

img.snapped-image {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  // height:80vh;
  padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}