<div class="header">
    <a class="navbar-brand" href="">Love Photo Machine ????</a>
    <img class="logo" src="/img/logos/hungry-eyes.png" alt="hungry eyes logo">
    <img class="logo" src="/img/logos/TeamCandyHeart-Simon-Liebman.png" alt="hungry eyes logo">
    <img class="logo" src="/img/logos/trust-the-feeling.png" alt="hungry eyes logo">
    <img class="logo" src="/img/logos/will-it-heart.png" alt="hungry eyes logo">
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
