.header {
    height: 80px;
    background-color: #313a8e;
    color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
}

.header a {
    margin-right: 20px;
}